.men {
    background-color: aquamarine;
    grid-area: m;
    font-size: 15pt;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
}
.men a {
    color: black;
    text-decoration: none;
}

.men a.activLink {
    color: green;

}