.con {
    background-color: bisque;
    grid-area: c;

}

.con img  {
    width: 980px;
    position: relative;
}

.person {
    display: flex;
    flex-direction: row;
    margin: 10px;

}
.person img {
    width: 150px;
}

